.login {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #000000, #808080);
    font-family: Arial, sans-serif;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.container:hover {
    transform: scale(1.05); /* Aumenta o tamanho da caixa */
    box-shadow: 0 8px 20px rgba(255, 255, 255, 0.8); /* Sombra branca */
}


.title{
    display: flex;
    align-items: center;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 50px;
    width: 400px;
}

button {
    padding: 10px;
    background-color: #000;
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: #333;
}


@media (max-width: 480px) {
    form {
        gap: 10px;
    }
    
    input {
        width: 200px;
    }    
}
