.descricao-roupa-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f4f4f4; 
  border-radius: 15px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
  cursor: pointer;
}

.descricao-roupa-container:hover {
  transform: scale(1.025); 
  box-shadow: 0 8px 20px rgba(105, 102, 102, 0.8); 
}
  
.icon {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f4f4f4; 
  border-radius: 50%; 
  padding: 10px;
}
  
.descricao-texto {
  padding-left: 10px;
  color: black;
  font-size: 16px;
  .name{
    font-weight: bold;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semi-transparente */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}