<div class="historico">
    <div class="header">
        <app-header title="Histórico"></app-header>
    </div>
    <!-- Box com as roupas -->
    <div class="grid-container">
        <app-roupa-hist roupa="calca"></app-roupa-hist>
        <app-roupa-hist roupa="vestido"></app-roupa-hist>
        <app-roupa-hist roupa="blusa"></app-roupa-hist>
        <app-roupa-hist roupa="jaqueta"></app-roupa-hist>
        <app-roupa-hist roupa="calca"></app-roupa-hist>
        <app-roupa-hist roupa="vestido"></app-roupa-hist>
        <app-roupa-hist roupa="blusa"></app-roupa-hist>
        <app-roupa-hist roupa="jaqueta"></app-roupa-hist>
        <app-roupa-hist roupa="calca"></app-roupa-hist>
    </div>
</div>
