.container {
  &.home-style {
    position: relative;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.icon {
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
  border: 1px solid #000000;
  border-radius: 60%;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  cursor: pointer;
  transition: background-color 0.3s;

  &.home-style {
    padding: 20px 40px;
  }

  &.cam-style {
    padding: 10px 20px;
    margin-bottom: 20px;
  }

  &:hover {
    background-color: #333;
  }
}


@media (max-width: 480px) {
  .button {
    &.cam-style {
      padding: 5px 10px;
      margin-bottom: 10px;
    }
  }
}