.container {
    position: relative;
    width: 200px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
  .icon {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    border: 1px solid #000000;
    border-radius: 60%;
    padding: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    background-color: #000;
    color: #fff;
    padding: 20px 40px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: #333;
    }
  }
  