.container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;

  &.home-style {
    width: 300px;
    height: 200px;
  }
}

.icon {
  cursor: pointer;
  border: 1px solid white;
  border-radius: 60%;
  padding: 2px;
  display: flex;
  align-items: center;
  justify-content: center;

  &.cam-style {
    margin-left: 10px;
    margin-bottom: 20px;
  }

  &.home-style {
    position: absolute;
    top: 0;
    right: 0;
  }

}

.button {
  background-color: #000;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;

  &.home-style {
    padding: 30px 40px;
    font-size: 32px;
  }

  &.cam-style {
    padding: 10px 20px;
    margin-bottom: 20px;
    font-size: 20px;
    display: flex;
    flex: 1;
    justify-content: center;
  }

  &:hover {
    background-color: #333;
  }
}


@media (max-width: 480px) {
  .button {
    &.cam-style {
      padding: 5px 10px;
      margin-bottom: 10px;
      font-size: 20px;
    }
  }
}