<app-header title="Câmera"></app-header>
<div class="camera">
    <div class="main-content">
        <div class="instructions">
            <!-- Botão para solicitar acesso à câmera -->
            <app-btn label="Solicitar Acesso à Câmera" from="cam" (click)="startCamera()"></app-btn>
            <!-- Botão para desligar a câmera -->
            <app-btn label="Desligar a Câmera" from="cam" (click)="stopCamera()"></app-btn>
        </div>

        <!-- Vídeo -->
        <div class="content">
            <video #videoElement width="100%" height="100%" autoplay></video>
        </div>

        <!-- Canvas para capturar o quadro do vídeo -->
        <canvas #canvasElement style="display: none;"></canvas>

        <!-- Botão para tirar a foto -->
        <app-btn label="Analisar foto" from="cam" (click)="takePhoto()"></app-btn>
    </div>

    <!-- Mensagem de erro -->
    <div *ngIf="errorMessage" class="error-message">
        <p>{{ errorMessage }}</p>
    </div>
    <div class="loading-overlay" *ngIf="loading">
        <div class="spinner"></div>
    </div>
</div>

<div *ngIf="modal" class="backdrop">
    <app-modal-roupa [data] = "this.prediction.predictions" [img]="this.photoBase64" [modal]=modal (close)="openModal()"></app-modal-roupa>
</div>